<head>
    <meta charset="utf-8">

    <title>{{ site.title }}{% if page.title %} | {% if page.namespace %}{{ page.namespace }}.{% endif %}{{ page.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="{{ site.author.name }}">
  
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Source+Code+Pro&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/theme.css' | prepend: site.base_url }}" />
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/pygments.css' | prepend: site.base_url }}" />

    <!-- Scripts -->

    <!-- Tell mobile browsers we're optimized for them and they don't need to crop
         the viewport. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
</head>
