<nav class="big">
  <a href="{{ site.baseurl }}/"><img src="{{ site.logo_url }}" class="logo" alt="{{ site.title }}" /></a>
  <ul>
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href="{{ '/modules' | prepend: site.baseurl | prepend: site.url }}">Reference</a></li>
  </ul>
  <section>
    <h2>core classes</h2>
    <ul>
      <li><a href="core/bool.html">Bool</a></li>
      <li><a href="core/class.html">Class</a></li>
      <li><a href="core/fiber.html">Fiber</a></li>
      <li><a href="core/fn.html">Fn</a></li>
      <li><a href="core/list.html">List</a></li>
      <li><a href="core/map.html">Map</a></li>
      <li><a href="core/null.html">Null</a></li>
      <li><a href="core/num.html">Num</a></li>
      <li><a href="core/object.html">Object</a></li>
      <li><a href="core/range.html">Range</a></li>
      <li><a href="core/sequence.html">Sequence</a></li>
      <li><a href="core/string.html">String</a></li>
      <li><a href="core/system.html">System</a></li>
    </ul>
  </section>
  <section>
    <h2>optional</h2>
    <ul>
      <li><a href="meta">meta</a></li>
      <li><a href="random">random</a></li>
    </ul>
  </section>
</nav>
<nav class="small">
  <table>
    <tr>
      <td><h2>core classes</h2></td>
      <td><h2>optional</h2></td>
    </tr>
    <tr>
      <td>
        <ul>
          <li><a href="core/bool.html">Bool</a></li>
          <li><a href="core/class.html">Class</a></li>
          <li><a href="core/fiber.html">Fiber</a></li>
          <li><a href="core/fn.html">Fn</a></li>
          <li><a href="core/list.html">List</a></li>
          <li><a href="core/map.html">Map</a></li>
          <li><a href="core/null.html">Null</a></li>
          <li><a href="core/num.html">Num</a></li>
          <li><a href="core/object.html">Object</a></li>
          <li><a href="core/range.html">Range</a></li>
          <li><a href="core/sequence.html">Sequence</a></li>
          <li><a href="core/string.html">String</a></li>
          <li><a href="core/system.html">System</a></li>
        </ul>
      </td>
      <td>
        <ul>
          <li><a href="meta">meta</a></li>
          <li><a href="random">random</a></li>
        </ul>
      </td>
    </tr>
  </table>
</nav>
