<nav>
  <a href="{{ site.base_url }}/"><img src="{{ site.logo_url }}" class="logo" alt="{{ site.title }}" /></a>
  <section>
    <h2>guides</h2>
    <ul>
    {%- assign guides = site.pages | where:"category","guide" | sort:"order" -%}
    {%- for page in guides %}
      <li><a href="{{ page.url | prepend: site.base_url | prepend: site.url }}">{{ page.title }}</a></li>
    {%- endfor %}
    </ul>
  </section>
  <section>
    <h2>modules</h2>
    {%- assign groups = site.pages | where:"category","module" | sort:"title" | group_by:"namespace" | sort:"name" -%}
    {%- for group in groups %}
    <ul>
      <h3>{{ group.name }}</h3>
      {%- for page in group.items %}
      <li><a href="{{ page.url | prepend: site.base_url | prepend: site.url }}">{{ page.title }}</a></li>
      {%- endfor %}
    </ul>
    {%- endfor %}
  </section>
</nav>
