<nav>
  <a href="{{ site.base_url }}/"><img src="{{ site.logo_url }}" class="logo" alt="{{ site.title }}" /></a>
  <section>
    <h2>guides</h2>
    <ul>
    {% assign guides = site.pages | sort:"order" %}
    {% for page in guides %}
    {% if page.category == "guide" %}
      <li>
        <a href="{{ page.url | prepend: site.base_url | prepend: site.url }}">
          {{ page.title }}
        </a>
      </li>
    {% endif %}
    {% endfor %}
    </ul>
  </section>
  <section>
    <h2>modules</h2>
    {% for page in site.pages %}
    {% if page.category == "module" %}
    {% capture current_ns %}{{ page.namespace }}{% endcapture %}
    {% if current_ns != previous_ns %}
    {% if previous_ns %}
    </ul>
    {% endif %}
    <ul>
    <h3>{{ current_ns }}</h3>
    {% endif %}
    <li>
      <a href="{{ page.url | prepend: site.base_url | prepend: site.url }}">
        {{ page.title }}
      </a>
    </li>
    {% capture previous_ns %}{{ current_ns }}{% endcapture %}
    {% endif %}
    {% endfor %}
    </ul>
  </section>
</nav>
