<nav class="big">
  <a href="{{ site.baseurl }}/"><img src="{{ site.logo_url }}" class="logo" alt="{{ site.title }}" /></a>
  <ul>
    {% if page.type %}
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    {% endif %}
    {% if page.type != "module" %}
    <li><a href="{{ '/modules' | prepend: site.baseurl | prepend: site.url }}">Reference</a></li>
    {% endif %}
    {% if page.type != "guide" %}
    <li><a href="{{ '/guides' | prepend: site.baseurl | prepend: site.url }}">Getting Started</a></li>
    {% endif %}
    <li><a href="{{ '/devlog' | prepend: site.baseurl | prepend: site.url }}">DevLog</a></li>
  </ul>
  {% if page.type == "guide" %}
  <section>
    <h2>guides</h2>
    <ul>
      {% for guide in site.data.guides %}
      <li>
        <a href="{{ guide.url | prepend: site.baseurl | prepend: site.url }}">
          {{ guide.title }}
        </a>
      </li>
    {% endfor %}
    </ul>
  </section>
  {% elsif page.type == "module" %}
  <section>
    <h2>modules</h2>
    <ul>
      {% for module in site.data.modules %}
      <li>
        <a href="{{ module.url | prepend: site.baseurl | prepend: site.url }}">
          {{ module.title }}
        </a>
      </li>
    {% endfor %}
    </ul>
  </section>
  {% endif %}
</nav>
